#image{
    height:500px;
    width:500x;
}
body{
    text-align:center;
}
.navbar-brand img{
    height:50px;
}
#Contact{
    background:#ffffff;
}
#image_reweiw{
    height:50px;
    width:50px;
}
.image img{
    height:200px;
}
Modal{
    height:150px;
}